.pokedex-wrapper {
  position: fixed;
  z-index: 1000;
  transition: top 0.2s ease, left 0.2s ease;
  cursor: move;
}

.pokedex-moldura {
  width: 250px;
  height: 450px;
  background: #c62828;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedex-tela {
  background: #E0E2EC;
  width: 90%;
  height: 380px;
  border-radius: 10px;
  margin-top: 10px;
  overflow-y: auto;
}

.widget-pokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
}

.pokedex-controles {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.botao-vermelho {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

.tela-verde {
  width: 60px;
  height: 20px;
  background: #66bb6a;
  border-radius: 5px;
}

.direcional {
  width: 30px;
  height: 30px;
  background: #424242;
  clip-path: polygon(40% 0%, 60% 0%, 60% 40%, 100% 40%, 100% 60%, 60% 60%, 60% 100%, 40% 100%, 40% 60%, 0% 60%, 0% 40%, 40% 40%);
}

.poke-sprite {
  width: 40px;
  height: 40px;
}

.empty-message {
  text-align: center;
  font-size: 14px;
  color: white;
  margin-top: 20px;
}


.notificacao {
  width: 100%;
  background: #424242;
  color: white;
  text-align: center;
  padding: 6px 8px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
  &[full='true'] {
    background: #800505;
    animation: pulse 1.5s infinite;
  }
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.02); }
  100% { transform: scale(1); }
}

.pokedex-tela-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8px;
  width: 90%;
  height: 360px;
  background: #E0E2EC;
  border-radius: 10px;
  padding: 8px;
}

.slot {
  width: 89%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9e9e9e;
}

.poke-sprite-grid {
  width: 50%;
  height: auto;
}

.remove-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  z-index: 2;
}

.fire     { background-color: #F08030; }
.water    { background-color: #6890F0; }
.grass    { background-color: #78C850; }
.electric { background-color: #F8D030; }
.psychic  { background-color: #F85888; }
.normal   { background-color: #A8A878; }
.rock     { background-color: #B8A038; }
.ghost    { background-color: #705898; }
.poison   { background-color: #A040A0; }
.fairy    { background-color: #EE99AC; }
.ground   { background-color: #E0C068; }
.bug      { background-color: #A8B820; }
.fighting { background-color: #C03028; }
.dark     { background-color: #424242; }
.steel    { background-color: #B8B8D0; }
.dragon   { background-color: #7038F8; }
.ice      { background-color: #98D8D8; }
