.music-player {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;

  background: none;
  padding: 10px 15px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  gap: 10px;

  box-shadow: none;
}

.mute-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  color: white;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.volume-slider {
  width: 100px;
  cursor: pointer;
}

.volume-icon {
    margin-top: 20%;
  width: 22px;
  height: 22px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}