$primary-dark: #1A2517;
$primary-light: #ACC8A2;


:host {
  display: block;
  width: 100%;
  font-family: 'Krona One', sans-serif;
}

.home {
  min-height: 100vh;
  padding-top: 120px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-light;
  
}


.hero {
  text-align: center;
  max-width: 900px;
  padding: 0 20px;

  h1 {
    font-size: clamp(28px, 4vw, 40px);
    font-weight: 600;
    color: $primary-dark;
    letter-spacing: 1px;
  }
}

.content-box {
  margin-top: 50px;
  background-color: $primary-dark;
  color: $primary-light;
  padding: 50px 40px;
  border-radius: 24px;
  max-width: 900px;
  width: 90%;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  .descricao {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 40px;
    opacity: 0.9;
  }
}

.objetivos {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background-color: $primary-light;
  color: $primary-dark;
  padding: 25px;
  border-radius: 16px;
  flex: 1;
  min-width: 260px;
  transition: all 0.3s ease;

  h2 {
    margin-bottom: 12px;
    font-size: 18px;
  }

  p {
    font-size: 14px;
    line-height: 1.6;
  }

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  }
}

.wave-divider {
  width: 100%;
  line-height: 0;
  margin-top: 120px;
  background: $primary-dark;
}

.wave-divider svg {
  display: block;
  width: 100%;
  height: 180px;
}

.wave-divider .shape-fill {
  fill: $primary-light;
}

.dark-section {
  width: 100%;
  min-height: 600px;
  background-color: $primary-dark;

  display: flex;
  align-items: center;
  justify-content: center;
}

.componente-3d {
  position: relative;

  width: 600px;
  height: 800px;

  margin-left: auto;
  margin-top: 15%;
  margin-right: 65%;
}





@media (max-width: 768px) {

  .home {
    padding-top: 100px;
  }

  .objetivos {
    flex-direction: column;
  }

  .content-box {
    padding: 40px 25px;
  }
}