.pokemon-card-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 16px; 
  background-color: #FFE164; 
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.pokemon-card {
  padding: 20px;
  border-radius: 10px;
  
 
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
    
    .pokemon-name {
      margin: 0;
      font-size: 28px;
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    }
    
    .pokemon-number {
      font-size: 18px;
      color: rgba(255, 255, 255, 0.9);
      font-weight: bold;
    }
  }

  .image-section {
    position: relative;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 10px;
    
    .main-image {
      width: 100%;
      max-width: 475px;
      height: auto;
      display: block;
      margin: 0 auto;
      filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
    }
    
    .shiny-image {
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 70px;
      height: 70px;
      border: 3px solid gold;
      border-radius: 50%;
      background-color: rgba(255, 215, 0, 0.2);
      box-shadow: 0 0 10px gold;
    }
  }


}

.actions-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .left-button {
    display: flex;
    align-items: center;
  }

  .right-buttons {
    display: flex;
    gap: 10px;
    align-items: center;

    .edit-actions {
      display: flex;
      gap: 10px;
    }
  }
}


$type-colors: (
  normal: #A8A878,
  fire: #F08030,
  water: #6890F0,
  electric: #F8D030,
  grass: #78C850,
  ice: #98D8D8,
  fighting: #C03028,
  poison: #A040A0,
  ground: #E0C068,
  flying: #A890F0,
  psychic: #F85888,
  bug: #A8B820,
  rock: #B8A038,
  ghost: #705898,
  dragon: #7038F8,
  dark: #705848,
  steel: #B8B8D0,
  fairy: #EE99AC
);


@each $type, $color in $type-colors {
  .pokemon-card.#{$type} {
    background: linear-gradient(
      to bottom right,
      darken($color, 20%),
      darken($color, 10%)
    );
    
    .info-section, .actions-section {
      background-color: rgba(darken($color, 15%), 0.7);
      border-radius: 8px;
      padding: 10px;
    }
    
    .tipo-badge.#{$type} {
      background-color: lighten($color, 10%);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}


mat-divider {
  margin: 15px 0;
  border-top-color: rgba(255, 255, 255, 0.2);
}


.edit-field {
  .mat-form-field-outline {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
  }
  
  .mat-input-element {
    color: white !important;
  }
}